{
    margin: 0
;
    font-family: Arial, "HelveticaNeue LT 33 ThinEx", sans-serif
;
;


}
.topnav {
    overflow: hidden;
    background: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: #ddd;
}